<!DOCTYPE html>
<html>
  <head>
    <title>Government Schemes</title>
    
    <link rel="stylesheet" href="dashboard.css" />
    
    <!--Meta for responsiveness-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!--Fonts-->    
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'/>
    
    <!--Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    
  </head>
  <body>
    
    <!--NavBar-->    
    <div class="navbar-fixed">
      <nav id="the-nav">
        <div class="nav-wrapper white">
          <!--Logo-->
          <a href="/" class="brand-logo" style="color: #09f;padding-left: 30px">
            TheAppName
          </a>
          <!--Menu icon for small screen devices-->
          <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons" style="color:#000">menu</i></a>
          <!--Nav content-->
          <ul id="pc" class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-lighten" href="/farmer/sell">Sell</a></li>
            <li><a class="waves-effect waves-lighten" href="/farmer/buy">Buy</a></li>
            <li><a class="waves-effect waves-lighten active">Govt. Schemes</a></li>
            <li><a class="waves-effect waves-lighten" href="/farmer/help">Help</a></li>
            <li><a class="waves-effect waves-lighten" href="/farmer/history">History</a></li>
            <li><a class="waves-effect waves-lighten" href="/logout">Logout</a></li>
          </ul>
        </div>
      </nav>    
    </div>
    
    <!--Nav content for small screen devices-->
    <ul class="side-nav" id="mobile-demo">
      <li><a class="waves-effect waves-lighten" href="/farmer/sell">Sell</a></li>
      <li><a class="waves-effect waves-lighten" href="/farmer/buy">Buy</a></li>
      <li><a class="waves-effect waves-lighten active">Govt. Schemes</a></li>
      <li><a class="waves-effect waves-lighten" href="/farmer/help">Help</a></li>
      <li><a class="waves-effect waves-lighten" href="/farmer/history">History</a>
      </li>
      <li><a class="waves-effect waves-lighten" href="/logout">Logout</a></li>
    </ul>
    
    <!--Content-->
    <div id="content-div">
      <h1 class="header">Government schemes</h1>
      <ul id="lol">
        <li class="browser_default">&#9632;&nbsp;&nbsp;<span>अटल पेंशन योजना : </span> पेंशन सेक्टर से संबंधित सामाजिक क्षेत्र की योजना</li>
        <li class="browser_default">&#9632;&nbsp;&nbsp;<span>केंद्र सरकार के स्वास्थ्य योजना : </span> सुनिश्चित करने के लिए कि नागरिकों को सरकारी सेवाओं को इलेक्ट्रॉनिक रूप से उपलब्ध है और लोगों को नवीनतम जानकारी और संचार प्रौद्योगिकी से लाभ मिलता है</li>
        <li class="browser_default">&#9632;&nbsp;&nbsp;<span>डिजिटल भारत कार्यक्रम : </span> केंद्र सरकार के कर्मचारियों और उनके परिवार के सदस्यों को व्यापक चिकित्सा देखभाल सुविधाएं</li>
        <li class="browser_default">&#9632;&nbsp;&nbsp;<span>ग्रामीण भंडारण योजना  : </span> ग्रामीण क्षेत्रों में संबद्ध सुविधाओं के साथ कृषि भंडारण क्षमता के निर्माण के लिए किसानों की खेती की खेती के भंडारण, संसाधित खेत उपज और कृषि आदानों की आवश्यकताएं पूरी करने के लिए। ग्रेडिंग, मानकीकरण और कृषि उत्पादों के गुणवत्ता नियंत्रण के प्रचार के माध्यम से उनकी मार्केटिंग योग्यता में सुधार करें</li>
      </ul>
    </div>
    
    <!--Scripts import-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script src="dashboard.js"></script>
  </body>
</html>